accelerate>=0.22.0
datasets>=2.14.5
deepspeed>=0.11.1
fire>=0.5.0
lightning>=2.1.0
lightning_hivemind@git+https://github.com/LuciferianInk/lightning-Hivemind.git@ipfs
peft>=0.6.2
pytorch_optimizer>=2.12.0
# torch>=2.1.0
transformers>=4.35.2